title: 연습문제
date : 2022-06-27

In [5]:
#홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.
korean = 80
english = 75
math = 55

mean = (korean + english + math) / 3
print(mean)

70.0

In [12]:
#자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

a = 13
if a / 2 == 0 :
  print("even")
else : print("odd")

odd

In [19]:
#홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
pin = "881120-1068234"
print(pin[:6], pin[7:])

881120 1068234

In [23]:
#다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

In [24]:
#[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.
a = [1,2,3,4,5]
b = list(reversed(a))
print(b)

[5, 4, 3, 2, 1]

In [29]:
#['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.
a = ['life', 'is', 'too', 'short']
b = ' '.join(a)
print(b)

life is too short

In [38]:
#(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자. #리스트로 바꾸고 추가하고 다시 튜블로 만드는 방법
a = (1,2,3)
b = list(a)
b.append(4)
a = tuple(b)

print(a)

(1, 2, 3, 4)

In [47]:
#다음과 같은 딕셔너리 a가 있다. 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

a = dict()
a['name'] = 'python'
a[('a',)] = 'python'
a[[1]] = 'python' # --> 리스트에서 사용하는 방식이래

TypeError: ignored

In [49]:
#딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
a = {'A' : 90, 'B' : 80, 'C ' : 70}
a.pop("B")

80

In [52]:
#a 리스트에서 중복 숫자를 제거해 보자.
a = [1,1,1,2,2,3,3,3,4,4,5]
b = set(a)
a = list(b)
print(a)

[1, 2, 3, 4, 5]

In [54]:
a = [1,1,1,2,2,3,3,3,4,4,5] #for문 사용
b = []
for i in a : 
  if i not in b : 
    b.append(i)
print(b)

[1, 2, 3, 4, 5]

In [60]:
#파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.
a = b = [1,2,3]
a[1] = 4
print(b)
print(id(a))
print(id(b))

#동일한 메모리 주소를 가지고 있어서?

[1, 4, 3]
139859970553008
139859970553008

In [61]:
#다음 코드의 결괏값은 무엇일까?

a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [83]:
#while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.
i = 1
a = 0
while i <= 1000 :
  if i % 3 == 0 :
     a += i
  i = i+1
print(a)
print(i)

166833
1001

In [76]:
#while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

star = "*"
i = 1
while i < 6 : 
  print(star*i)
  i += 1

*
**
***
****
*****

In [89]:
#for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

for i in range(1,100) :
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [94]:
#A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
Aclass = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
count = 0
for i in Aclass :
  sum = sum + i
  count += 1
meanA = sum/count
print(meanA)

79.0

In [ ]:
#리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
#리스트 내포를 사용하여 표현해 보자